# image: "python:3.7" #commands to run in the Docker container before starting each job.
image: "conda/miniconda3" 

cache:
  paths:
    - /opt/conda/pkgs    
# commands to run in the Docker container before starting each job.
before_script:
  - python --version
  - conda info
  - conda env create -f environment.yml
  - source activate new_metric 
stages:
  # - Static Analysis
  - Test
pytest:
  stage: Test
  tags:
        - ci
        - ssh

  script:
  - pytest --cov
