# image: "python:3.7" #commands to run in the Docker container before starting each job.
image: "conda/miniconda3" 
# commands to run in the Docker container before starting each job.
before_script:
  - python --version
  - pip install -r requirements.txt
  - conda env create -f environment.yml
  - conda activate signatures 
  - pip install endesive
  - pip install PyMuPDF
stages:
  # - Static Analysis
  - Test
pytest:
  stage: Test
  tags:
        - ci
        - ssh

  script:
  - pytest --cov
